.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

.navbar-logo span {
  color: #fbbf24; /* yellowish for Travels */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;

  
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;


  
}

.navbar-links li a:hover {
  color: #f59e0b;
}

.navbar-login .login-btn {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s ease;
}

.navbar-login .login-btn:hover {
  background-color: #065f46;
}


.logo-main {
  font-size: 28px;
  font-weight: bold;
  color: #065f46; /* deep green */
  text-decoration: none;
  font-family: 'Georgia', serif;
  letter-spacing: 1px;
  display: block;
  margin-left: 15px;
}

.logo-sub {
  font-size: 12px;
  color: #fbbf24; /* sunny yellow */
  font-weight: 500;
  margin-top: -4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 15px;

}
